:root {

    --cinza-escuro: #BFBFBF;
    --cinza-medio: #D9D9D9;
    --cinza-claro: #F2F2F2;
    --cinza-claro1: #F4F4F2;
    --cinza-claro2: #F5F5F5;
    --texto-claro1: #fff0df93;
    --texto-claro: #fff7ee;

    --azul-menu: #37367a;
    --azul-lista: #434291;
    --azul-selecao: #37366f;
    --azul-escuro: #363062;
    --azul-medio: #4d4c7d;
    
    --tema-escuro: #201b2c;
    --tema-escuro1: #2f2841;
    --tema-escuro2: #514869;
    --efeito-blur: #00000056;

    --laranja-logo: #F58634;
    --laranja-padrao: #f99417;
    --laranja-claro: #fe910d;
    --laranja-escuro: #593100;

    --fonte-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

* {
    font-family: var(--fonte-padrao);   
}

body {
    margin: 0;
    padding: 0;
}

.logout {
    text-align: center;
}

.logout button {
    border-radius: 20px;
    background-color: var(--azul-lista);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.525);
    cursor: pointer;
}

.logout button:hover {
    background: var(--azul-selecao);
}


#toggleButton {
    position: fixed;
    top: 10px;
    left: 6px;
    z-index: 999;
    background-color: var(--azul-lista);
    border: solid rgba(255, 255, 255, 0.525) 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px 3px;
    
}

#toggleButton:hover {
    background: var(--azul-selecao);
}

#toggleButton img {
    padding-top: 3px;
}

button {
    align-items: center;
    display: inline-flex;
}

.logout img {
    padding-right: 3px;
}


.sidebar {
    width: 250px;
    background: var(--azul-menu);
    color: #fff;
    position: fixed;
    height: 100%;
    transition: left 0.2s linear;
    left: -200px;
    display: flex;
    flex-direction: column;

}

.sidebar.active {
    left: 0;
}

.logo {
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 15px;
    background-color: var(--azul-lista);
    width: 130px;
    height: 43.4px;
    padding: 0px;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 5px;
}

.menu li:hover {
    background: var(--azul-selecao);
}

.menu a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    align-items: center;
    height: 43.4px;
    padding-top: 0px;
    display: grid;
    border: 1px solid rgba(255, 255, 255, 0.525);
    border-radius: 5px;

}

#content {
    padding-top: 1%;
    text-align: center;
    align-items: center;
}

li {
    margin-inline-start: 25%;
}

#content img{
    padding: 3px;
}

.mensagem{
    display:none;
    position:absolute;
    top: 20%;
    left:50px;
    right:0;
    margin: auto;
    width:70px;
    height:15px;
    background-color: rgba(204, 203, 193, 0.782);
    border-radius: 5px 0px;
    color: black;
    font-size: 10px;
}


.glow-on-hover {
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff7300, #002bff, #ffa600,#0800ff, #d86100, #0701b6);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: var(--azul-lista)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--azul-lista);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}